/**
 * Generic styles
 */

 body {
    background-color: #C7EAE4;
    margin: 0;
 }

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.75em;
    color: #584c47;
}

hr {
	border-top-width: 2px;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	width: 100%;
}

.todoWrapper {
    border-radius: 2em;
    padding: 50px;
    background-color: white;
}

#app {
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.todolist .completed  {
	font-style: italic;
    text-decoration: line-through;
}

.todolist li {
    color: black;
    background-color: #FF9E97;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    margin-top: 10px;
    border-radius: 10px;
    
}

.todolist li:hover {
    font-weight: bold;
}

li {
    list-style: none;
}

.btn {
	display: flex;
	flex-direction: column;
	align-items: center;
    background-color: #82C7C4;
}

button:hover {
    background-color: #20948c;
}
